@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

html {
  width: 100vw;
  height: 100vh;
  background-color: #fefff6;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  width: inherit;
  height: inherit;
  background-color: #444444;
}
body > * {
  width: 80%;
}
.body-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(171, 141, 84);
}
.calculator-body {
  background-color: #937faf;
  border-radius: 15px;
  overflow: hidden;

  box-shadow: 0 0 2px rgba(0, 0, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 50%);
}
.calculator-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  min-height: 75px;
  padding: 5px 10px;

  box-sizing: border-box;
  background-color: #cadbc5;
  font-size: 28px;
  font-family: "Squada One";
  border-radius: 15px;
}
.display-container {
  background-color: #705b8d;
  padding: 15px 10px;
}
.display-bottom,
.display-top {
  display: flex;
  align-items: center;
}
.display-top {
  font-size: 24px;
  color: #00000077;
}
.display-bottom {
  flex: 2;
  font-size: 35px;
}
.calculator-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  padding: 8px;
}
.row {
  width: 100%;
  display: flex;
  gap: 5px;
}
.row > button {
  width: 45px;
  height: 45px;

  border: none;
  border-radius: 15%;

  font-size: 20px;
  font-weight: bold;
}
.num-btn[value="0"],
.equal {
  flex: 2;
}
.num-btn {
  background-color: #fff4e3;
}
.operation,
.function-btn[value="delete"] {
  color: #fff4e3;
  background-color: #506a9b;
}
.function-btn[value="clear"] {
  background-color: #653233;
  color: #fff4e3;
}
.function-btn[value="erase"] {
  background-color: #9b4e4f;
  color: #fff4e3;
}
.equal {
  background-color: #404fb1;
  color: #fff4e3;
}
.decimal {
  font-size: 5px;
  background-color: #ffccbd;
}
