.calc-body{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    width: 300px;
    height: 400px;

    background-color: #232323;
}
.calc-display{
    width: 80%;
    height: 15%;

    background-color: beige;
}
.calc-btns{
    display: grid;
    grid-template-areas: 
        "operations operations erase erase"
        "nums nums nums operations"
        "nums nums nums operations"
        "nums nums nums equal"
        "nums nums nums equal"
    ;

    width: 80%;
    height: 60%;

    background-color: aliceblue;
}
.num-btn{
    width: 75px;
    height: 50px;
}
.num-btn{
    grid-area: nums;
}
.op-btn{
    grid-area: operations;
}
.equal-btn{
    grid-area: equal;
}
.func-btn{
    grid-area: erase;
}